body {
    background: red;
    color: #fff;
  }
  
  .navbar {
    border-bottom: red 3px solid;
    opacity: 0.8;
  }
  
  #home-section {
    background: url("images/img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
  }
  
  #home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: rgba(0, 0, 0, 0.5);
  }
  
  #home-section .home-inner {
    padding-top: 150px;
  }
  
  /* #008ed6 */
  
  #home-section .fas,
  #create-section .fas {
    color: red;
    background: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  #explore-section .fas,
  #share-section .fas {
    background: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  