.legal{
    position: absolute;
    float:left;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 15px;
    margin-bottom:-20px;
}
 .copyrigte{
    font-size: 13px;
       
}



 

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: red;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
   .content{
    float:right;
    background-color:#f1f1f1;
    margin-top: 5px;
    margin-bottom: 5px;
    
    margin-right: 3px;
    width:77.5%;
    height:600px;
}
  .sidebar {
    margin: 0;
    padding: 0;
    width: 22%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: red;
    color: white;
  }
   
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .top-sider{  
    padding: 13px 15px 12px 15px;
 
    position: relative;
    border-bottom: 4px solid #0fe4e4;
    background: url(chilly.jpg)  ;
    background-color:red;
    height: 135px;
 }


 
 .css{
    background-color:#4caf50;
    color:red;
    
    }
    #pointer{
        cursor: pointer;
    }
     #myInput {
      
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }